body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.fishbowl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 4px solid #fff;
    transform-origin: bottom center;
}

/* fishbowl opening */
.fishbowl:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    background: #333;
    border: 4px solid #fff;
    border-radius: 50%;
}

.fishbowl:after {
    content: '';
    position: absolute;
    top: 33%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 120px;
    background: rgba(255,255,255,0.03);
    border-radius: 50%;
}

.water {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    bottom: 10px;
    background: rgba(59, 189, 249, 0.5);
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    transform-origin: bottom center;
    animation: animateWater 5s linear infinite;
}

.water:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: #25a5e1;
}

.bowlShadow {
    position: absolute;
    top: calc(50% + 155px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 30px;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    border-radius: 50%;
}

img.shark {
    position: absolute;
    top: 15px;
    width: 100px;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(0,0) rotateY(180deg);
    }
    50% {
        transform: translate(180px,0) rotateY(180deg);
    }
    51% {
        transform: translate(180px,0) rotateY(0deg);
    }
    100% {
        transform: translate(0,0) rotateY(0deg);
    }
}

@keyframes animateWater {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}